include ../scripts/scripts
include ../table/table
include ../figure/figure
include ../grid/grid
include ../form/form
include ../form-input/form-input
include ../page-section/page-section
include ../images-before-after/images-before-after
include ../tabs/tabs
include ../home/home
include ../feedback/feedback
include ../block-marked/block-marked
include ../iframe-responsive/iframe-responsive
include ../list-advantages/list-advantages
include ../create-element/create-element
include ../list-steps-illustrated/list-steps-illustrated
include ../page-subsection/page-subsection
include ../before-after/before-after
include ../text-marked/text-marked
include ../fotorama/fotorama
include ../table-price/table-price
include ../image-bordered/image-bordered
include ../main-menu/main-menu

//- data
include /data/main-menu

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
  +scripts(['script.js'])
