.table-wrap
  overflow-x auto
  parMargin()
  & + &
  p + &
  .list-marked + &
  .list-numbered + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top 0.5625rem
  h3 + &
    margin-top 0.3125rem
  h4 + &
    margin-top 0.125rem
.table
  width 100%
  // table-layout fixed
  parMargin()
  & + &
  p + &
  .list-marked + &
  .list-numbered + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top 0.5625rem
  h3 + &
    margin-top 0.3125rem
  h4 + &
    margin-top 0.125rem
  &__header
    border 2px solid #ded7cc
    background-color #fffdf8
    font-size font-s
    line-height line-s
    padding (basePadding/3*2) basePadding
    text-align center
    vertical-align middle
  &__cell
    padding (basePadding/3*2) basePadding
    border-left 2px solid #e7e7e8
    border-right 2px solid #e7e7e8
    ^[-1]__row:last-child > &
      border-bottom 2px solid #e7e7e8
    ^[-1]__row:first-child:not(^[-1]__row--header) > &
      border-top 2px solid #e7e7e8
    &--empty
      vertical-align middle
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
  &:not(&--oneline)
    & ^[-1]__row:nth-child(2n-1):not(^[-1]__row--header) > ^[-1]__cell
      background #f3f3f3
  &--oneline
    & ^[-1]__cell:nth-of-type(2n)
      background #f3f3f3
