.header-navigation
  @media screen and (max-width point-m - 1)
    position absolute
    top 3rem
    background-color #fffaf6
    transform scale(0)
    transform-origin 0 0 0
    transition transform 0.2s
    z-index 20
    width 20rem
    &--active
      transform scale(1)
      transition none
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding (basePadding) (basePadding)
        color #4e4e4e
        font-weight 500
        text-decoration none
        transition color .2s
      &:hover
        & > a
          color #952642
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist-switch
      width 3rem
      background-image red
      height 3rem
      display flex
      align-items center
      justify-content center
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(0.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(0.875) translateY(25%) rotate(-135deg)
    &__sublist
      width 100%
      display none
      &--active
        display block
    &__sublist-item
      & > a
        transition color .2s
        white-space nowrap
        font-weight 400
        padding (basePadding/3) basePadding
        display inline-block
        color #3d3d3d

        text-decoration none
        
      &:hover
        & > a
          color #952642
          transition none
          background-color transparent
