.feedback-item
  &__author
    @extend p
    color #626262
    font-size font-s
    line-height line-s
  &__mark
    font-size font-l
    line-height 1.5
    font-style italic
    font-weight 500
    color #5e368e
  &__photo
    display flex
  &__photo-image
    width 8rem
    margin-right (basePadding/3*2)
  &__photo-desc
    font-size font-s
    line-height line-s
    a
      @extend a[href^='#']
  
