mixin feedbackItem(item)
  .feedback-item(class != attributes.class)
    +grid({paddingy: true})
      
      +grid__item({m:8,xs:12}).feedback-item__body
        +createElement(item.body)
        if item.author
          .feedback-item__author !{item.author}
      if item.about || item.mark || item.photo
        +grid__item({m:4,s:6,xs:12}).feedback-item__addition
          +blockMarked({smallPadding:true})
            if item.about
              .feedback-item__mark Отзыв о: 
                a(href!= item.about.href) !{item.about.name}
            if item.mark
              .feedback-item__mark !{item.mark}
            if item.photo
              .feedback-item__photo
                a(href!=item.photo.src data-fancybox ).feedback-item__photo-image
                  img(src!= item.photo.thumb alt='')
                .feedback-item__photo-desc Отзыв написали в салоне,
                  br
                  a(href!= item.photo.src data-fancybox) посмотрите фото


                  
