.list-steps-illustrated
  parMargin()
  list-style none
  counter-reset list-steps-illustrated
  &__item
    counter-increment list-steps-illustrated
      
  &__item-counter
    position relative
    &::before
      display block
      bottom 0.25rem
      left 0
      height 3.75rem
      width 3.125rem
      content counter(list-steps-illustrated) '. '
      font-size 3.75rem
      font-style italic
      font-weight 400
      color #5e368e
      text-align center
      z-index 2
  &__item-title
    margin-top 1.5rem
    font-size font-l
    line-height line-l
  &__item-body
    margin-top 0.75rem
  &--no-numbers
    & ^[-1]__item-image
      &::before
      &::after
        content none
  &--image-border
    & ^[-1]__item-image
      @extends .image-bordered
