mixin listStepsIllustrated(list)
  -
    const items = Array.isArray(list) ? list : list.list
    const itemSettings = items.length > 3 ? {tag:'li', m:3,s:6,xs:12} : {tag:'li', m:4,s:6,xs:12}
    const settings = list.settings ? list.settings : {}
    const classList = [
      (attributes.class ? attributes.class : '' ),
      (settings.noNumbers ? 'list-steps-illustrated--no-numbers' : '' )  ,
      (settings.imgBorder ? 'list-steps-illustrated--image-border' : '' )  ,
      
    ]
  +grid({tag:'ol', paddingy: true, justify: 'center'}).list-steps-illustrated(class != classList)
    each item in items
      +grid__item(itemSettings).list-steps-illustrated__item
        .list-steps-illustrated__item-counter
        .list-steps-illustrated__item-title !{item.title}
        if item.body
          .list-steps-illustrated__item-body
            +createElement(item.body)
  
