.block-marked
  margin-left -(basePadding*1.875)
  margin-right -(basePadding*1.75)
  padding-left (basePadding*3.875)
  padding-right (basePadding*3.75)
  padding-y 2.5rem
  background-color #f1ede4
  parMargin()
  h2 + &
    margin-top (basePadding* 2)

  
  @media screen and (max-width (containerWidth))
    margin-x (-(basePadding))
    padding-x (basePadding)
  &--margin-top
    border-top (basePadding* 2.4) solid #ffffff
  &--color-light
    background-color #f3e0db
  &--color-medium
    background-color #f8dec9
  &--color-dark
    background-color #f8dec9
  &--small-padding
    margin-x 0
    padding-x (basePadding)
    padding-y (basePadding*1.3333)
    & > img
      display block
    &^[-1]--margin-top
      border-top (basePadding* (2.6666)) solid #ffffff
    & ^[-1]__content
      &--lifted
        transform translateY( -( basePadding* (2.6666) ) )
        margin-bottom -( basePadding* (2.6666) )
      &--marked
        background-color #fffdf8
        padding (basePadding)
  &--big-padding
    padding-y (basePadding*3.75)
  &--tape
    & ^[-1]__content
      &--marked
        min-height 5rem
        background-color #fffdf8
        background-image url(../images/tape.png)
        background-repeat no-repeat
        background-size 4rem
        background-position 1rem center
        padding-left (6rem)
    
  &__content
    &--lifted
      transform translateY( -( basePadding* (2.6666 + 2.5333) ) )
      margin-bottom -( basePadding* (2.6666 + 2.5333) )
    &--marked
      background-color #fffdf8
      padding (basePadding*2)

  &__quote
    p
      &:first-of-type
        &::before
          content '«'
          font-size font-xxl
          line-height line-m
      &:last-of-type
        &::after
          content '»'
          font-size font-xxl
          line-height line-m
  &__cite
    margin-top (basePadding*4.8)
    display block
    font-size font-s
    font-style italic
    line-height line-s
    color #583e33
    font-weight 500
