mixin blockMarked(settings = {})
  -
    let classList = [
      (attributes.class ? attributes.class : ''),
      (settings.marginTop ? 'block-marked--margin-top' : ''),
      (settings.color ? 'block-marked--color-'+ settings.color : 'block-marked--color-light' ),
      (settings.smallPadding ? 'block-marked--small-padding' : '' ),
      (settings.bigPadding ? 'block-marked--big-padding' : '' ),
      (settings.type ? 'block-marked--' + settings.type : '' )
    ]
  .block-marked(class != classList id != attributes.id)
    block

mixin blockMarkedContent(settings = {})
  -
    let classList = [
      (attributes.class ? attributes.class : ''),
      (settings.lifted ? 'block-marked__content--lifted' : ''),
      (settings.marked ? 'block-marked__content--marked' : '')
    ]
  .block-marked__content(class != classList id != attributes.id)
      block

mixin blockMarkedQuote(cite)
  blockquote.block-marked__quote
    block
    if cite
      cite.block-marked__cite !{cite}
