.header-top
  display flex
  margin-x -(basePadding)
  padding-y basePadding
  align-items center
  &__item
    margin-x basePadding
    &--contacts
      margin-left auto
      line-height font-xl
    &--info
      line-height font-xl
  &__name
    font-size (font-m*2)
    font-weight 300
    @media screen and (max-width point-m)
      font-size font-xl
  &__phone
    font-size font-xl
  &__time
    font-size font-s
  &__calloffer
    margin-top (font-m/2)
