.header-top
  .header-top__item.header-top__item--logo
    include ../../logo/logo
  .header-top__item.header-top__item--info
    .header-top__name Центр Эстетики Волос
  .header-top__item.header-top__item--contacts.hidden-s.hidden-xs
    .header-top__phone +7 (495) 782-53-88
    .header-top__time пн-пт с 10 до 19
      br
      | сб-вс с 11 до 17
    .header-top__calloffer
      a(href='#' onclick='Comagic.openSitePhonePanel()') Заказать звонок
