+pageSection.container.home-header
  .content.home-header__content
    h1.home-header__title Безоперационное замещение волос для мужчин и женщин
    .home-header__subtitle Восстанавливаем волосы с помощью системы замещения волос
    .home-header__before-after
      +grid({justify:'center'})
        +grid__item({s:6,xs:12})
            +imagesBeforeAfter({
              before: {
                src:'images/replacement-1-1.jpg'
              },
              after: {
                src:'images/replacement-1-2.jpg'
              }
            })
        +grid__item({s:6,xs:12})
            +imagesBeforeAfter({
              before: {
                src:'images/replacement-2-1.jpg'
              },
              after: {
                src:'images/replacement-2-2.jpg'
              }
            })
