.home-header
  background-image radial-gradient(circle at center -15rem, #fff7ef,#f9ede5, #ccafc9)
  background-color #f2e1c5
  background-repeat no-repeat
  &__content
    display flex
    flex-direction column
  &__title
    text-align center
    margin-top 4.75rem
    font-size 2.5rem
    line-height 3.375rem
    position relative
    align-self center
    @media screen and (max-width point-m)
      font-size 2.25rem
      line-height 3rem
    &::after
      margin-top 1rem
      content ''
      width 3.75rem
      height 0.3333rem
      background-color #3d3d3d
      display block
      margin-x auto
  &__subtitle
    margin-top 1rem
    margin-bottom 2.5rem
    font-size 1.5rem
    text-align center
    line-height 2.125rem
    align-self center
  &__before-after
    margin-bottom 2.5rem
