html
  --price-for-men-top svgImport('svg/price-for-men-top.svg')
  --price-for-men-three-fourties svgImport('svg/price-for-men-three-fourties.svg')
  --price-for-men-full svgImport('svg/price-for-men-full.svg')
  --price-for-women-top svgImport('svg/price-for-women-top.svg')
  --price-for-women-three-fourties svgImport('svg/price-for-women-three-fourties.svg')
  --price-for-women-full svgImport('svg/price-for-women-full.svg')
  --before-after-arrow svgImport('svg/before-after-arrow.svg')
  --advantages-everyday svgImport('svg/advantages-everyday.svg')
  --advantages-safety svgImport('svg/advantages-safety.svg')
  --advantages-contradictions svgImport('svg/advantages-contradictions.svg')
  --advantages-hairstyle svgImport('svg/advantages-hairstyle.svg')
  --possibilities-sleep svgImport('svg/possibilities-sleep.svg')
  --possibilities-wash svgImport('svg/possibilities-wash.svg')
  --possibilities-swim svgImport('svg/possibilities-swim.svg')
  --possibilities-sport svgImport('svg/possibilities-sport.svg')
  
