head
  meta(charcode='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='template/styles/style.css')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  script(type='text/javascript')
    | var __cs = __cs || [];
    | __cs.push(["setCsAccount", "bAZUbRhhKVpakKyKeFi0ZehGxUIS2Exd"]);
  script(type='text/javascript' async src='https://app.comagic.ru/static/cs.min.js')
