mixin figure(item)
  figure.figure(class!=attributes.class id!=attributes.id)
    img(src!=item.src alt!= item.alt ? item.alt : item.caption).figure__image
    figcaption.figure__caption !{item.caption}
