+blockMarked({marginTop: true, bigPadding:true, color: 'medium'}).block-marked-whatis
    +grid({paddingy: false})
      +grid__item({xl:10,xs:12})
        +blockMarkedContent({marked:true})
          +grid({paddingy:true})
            +grid__item({m:8,xs:12})
                p Замещение утраченных волос (реплейсмент) – это новейший метод маскировки облысения.
                p
                  +textMarked Метод заключается в изготовлении индивидуального волосяного покрова (система волос) и фиксации его на поверхности кожи головы, подвергшейся облысению.
                p Система волос — новинка в области замещения волос. Изготовлена из полностью натуральных волос, соединенных с основой. Основа выполнена из силикона, тонкая, дышащая, свободно пропускает воздух и воду.
                p Прежде чем создать систему, волосяной покров будет подобран по всем параметрам: длине, оттенку, структуре: таким образом, чтобы идеально подойти к вашим родным волосам.
            +grid__item({m:4,xs:12}).block-marked-whatis__shifted
              .image-shifted
                img(src='images/whatis.jpg').image-shifted__img
            +grid__item({xs:12})
                p Система фиксации прочная: к коже головы прикрепляется с помощью полимеров. Результат — совершенная незаметность для окружающих.
                p Такой подход к созданию системы волос позволяет добиться ее максимальной натуральности и надежной фиксации.
                p
                  +textMarked({type:'italic'}) Система волос позволит вам жить так активно, как вы только мечтали!
