.footer
  padding-top (56/16)rem
  &__top
    h2:first-child
      margin-bottom 1.25rem
  &__staff
    padding-bottom (basePadding*2)
    padding-top 1rem
  &__contacts
    border-top 2px solid #e7e7e8
    color #636363
    padding-top (basePadding*2)
  &__phone
    font-size (40/16)rem
    font-weight 500
    line-height 1.25
    white-space nowrap
    margin-bottom 1rem
  &__contact
    position relative
    padding-left 2.5rem
    &::before
      content ''
      position absolute
      top -0.25rem
      left 0
      height 1.5rem
      width 1.5rem
      background-repeat no-repeat
      background-position center
    & + &
      margin-top 1.5rem
    &--mail
      &::before
        background-image svgImport('svg/mail.svg')
    &--skype
      &::before
        background-image svgImport('svg/skype.svg')
    &--whatsapp
      &::before
        background-image svgImport('svg/whatsapp.svg')
  &__metro
    @extend p
    position relative
    padding-left 2.5rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      height 1.5rem
      width 1.5rem
      background-repeat no-repeat
      background-position center
    &--m2
      &::before
        background-image svgImport('svg/m2.svg')
    &--m7
      &::before
        background-image svgImport('svg/m7.svg')
      
    & + &
    & + p
      margin-top 1rem
  &__bottom
    border-top 2px solid #e7e7e8
    padding-y (basePadding/2*3)
    margin-top (basePadding*5)
    color #636363
    flex-wrap wrap
    display flex
    justify-content space-between
    margin-x -(basePadding/2)
    & > *
      padding (basePadding/2)
  // &__copy
  //   margin-bottom (basePadding/3*2)
  &__agreements
    font-size font-xs
.footer-form
  max-width 22.125rem
