include footer-staff/footer-staff

footer.footer
  .container
    .content
      if !smallFooter
        +pageSubection.footer__top
          h2 Записаться на консультацию
          +grid({paddingy:true})
            +grid__item({l:4,m:5,xs:12})
              -
                let footerForm = {
                  header: 'Консультация бесплатная',
                  inputs:[
                    {type:'text',name:'name',required:true,placeholder:'',placeholder:'Имя'},
                    {type:'tel',name:'tel',required:true,placeholder:'',placeholder:'Телефон'},
                    {type:'textarea',name:'comment',required:true,placeholder:'Когда вам позвонить, или что вас беспокоит'},
                    {type:'checkbox',name:'agreement',required:true,label:'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.',checked:true},
                  ],
                  submit: 'Записаться'
                }
              +form(footerForm)#footer-form.footer-form
            +grid__item({l:8,m:7,s:8,xs:12})
              -
                const staff = [
                  {img:'images/administrator.jpg', name: 'Александра', position:'Администратор-консультант',alt:'Администратор Александра',href:''},
                  {img:'images/administrator-2.jpg', name: 'Наталья', position:'Администратор-консультант',alt:'Администратор Наталья',href:''},
                ]

              .footer__staff
                +grid({paddingy:true})
                  each item in staff
                    +grid__item({m:4,xs:6})
                      +footerStaff(item)
              .footer__contacts
                +grid({paddingy:true})
                  +grid__item({l:6,xs:12})
                    .footer__phone +7 (495) 782-53-88
                    .footer__phone +7 (495) 766-24-88
                  +grid__item({l:6,xs:12})
                    .footer__contact.footer__contact--mail E-mail: 
                      a(href='mailto:gamma.20@mail.ru') gamma.20@mail.ru
                    .footer__contact.footer__contact--whatsapp WhatsApp, Viber: 89264439880
                    .footer__contact.footer__contact--skype Skype: gamma20202
      +pageSubection.footer__address
        +grid({paddingy:true})
          +grid__item({l:4,m:5,xs:12})
            h2 Адрес
            p г. Москва
              br
              | Средний Тишинский пер., д. 10
            p пн-пт с 10 до 19
              br
              | сб-вс с 11 до 17
            h3 Как добраться:
            .footer__metro.footer__metro--m2 Белорусская – 1,2 км. 15 минут пешком
            .footer__metro.footer__metro--m7 Маяковская – 1,4 км. 17 минут пешком
            .footer__metro.footer__metro--m7 Баррикадная – 1,1 км. 14 минут пешком, 6 минут на автобусе, маршрут №66
            p: strong Бесплатная парковка рядом с ТЦ Тишинка.
          +grid__item({l:8,m:7,xs:12})
            +iframeResponsive('https://yandex.ru/map-widget/v1/?um=constructor%3A9ccfbfc2df2bad2221d6e3c9ea1e0853738fd6fd4adc97be050f870c1c47454e&amp;source=constructor')
      .footer__bottom
        .footer__copy © Центр Эстетики Волос 2010 - 2018
        .footer__advertising Разработка и продвижение сайта: 
          a(href='http://www.medreclama.ru/' target='_blank') medreclama.ru
