mixin beforeAfterItem(item, count = 1)
  .before-after-item(class!= attributes.class)
    +grid({nopadding:true}).before-after-item__photos
      +grid__item({xs:6}).before-after-item__photo
        a(href!= item.images.before data-fancybox=`before-after-${count}`)
          img(src!= item.images.before)
      +grid__item({xs:6}).before-after-item__photo
        a(href!= item.images.after data-fancybox=`before-after-${count}`)
          img(src!= item.images.after)
    .before-after-item__name !{item.name}
    .before-after-item__description !{item.desc}
