mixin footerStaff(item)
  figure.footer-staff
    img(src!= item.img alt!= item.alt ? item.alt : `${item.name}, ${item.position}`).footer-staff__image
    figcaption
      .footer-staff__name !{item.name}
      .footer-staff__position !{item.position}
      
