extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /blocks/home/home-header/home-header
  +pageSection
    .container
      .content
        +homeSubtitle Что такое замещение утраченных волос?
        include /blocks/block-marked-whatis/block-marked-whatis
  +pageSection
    .container
      .content
        +homeSubtitle Что можно делать с системой волос?
        -
          const possibilities = [
            {title:'Спать', className:'possibilities-sleep'},
            {title:'Мыться и ходить в баню', className:'possibilities-wash'},
            {title:'Плавать', className:'possibilities-swim'},
            {title:'Заниматься активным спортом', className:'possibilities-sport'},
          ]
        +listAdvantages(possibilities)
  +pageSection
    .container
      .content
        +pageSubection
          +homeSubtitle 4 шага к вашим новым волосам
          -
            const threeSteps = [
              {
                title:'Консультация в&nbsp;нашем центре или по&nbsp;телефону',
                body: [
                  {tag: 'p', content: 'Администратор уточнит о проблеме, зоны облысения. Сориентирует по стоимости и запишет на бесплатную консультацию.'},
                  {tag: 'p', content: '<a href="#footer-form">Записаться на&nbsp;консультацию</a>'}
                ]
              },

              {
                title:'Снятие мерок, подбор основы, цвета, структуры и длины волос',
                body: [
                  {tag: 'p', content: [
                      'Покажем образцы, подберем цвет, длину, основу.'
                    ]
                  }
                ]
              },
              {
                title:'Выбор готовой системы волос или и заказ изготовления',
                body: [
                  {tag: 'p', content: 'Систему можно приобрести в день визита. Если готовые системы, которые есть в нашем центре не подойдут, то ее можно заказать по индивидуальным характеристикам.'},
                ]
              },
              {
                title:'Фиксация системы',
                body: [
                  {tag: 'p', content: 'Зафиксируем на голове, сделаем стрижку и прическу. По желанию уложим волосы.'}
                ]
              },
            ]
          +listStepsIllustrated(threeSteps)
        +pageSubection
          +grid({paddingy:true,parLike:true})
            +grid__item({m:6, xs: 12}): img(src='images/map.png')
            +grid__item({m:6, xs: 12})
              h3 Для иногородних клиентов
              p Проведем консультацию по телефону и вы сможете выполнить обмерку самостоятельно. Готовую систему отправим вам курьером.
  +pageSection
    .container
      .content
        +homeSubtitle Как происходит замещение волос
        +grid({justify:'center'})
          +grid__item({m:8,s:10,xs:12})
            +tabs.home-tabs
              +tab({name: 'у мужчин'})
                +blockMarked({marginTop: true})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('w08WhL7K6s8')
              +tab({name: 'у женщин'})
                +blockMarked({marginTop: true})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('K7kX5STx9_8')
  +pageSection
    .container
      .content
        +homeSubtitle Преимущества замещения волос
        +homeTextMarked Системы волос не продаются в обычном магазине.
          br
          | Вы получаете продукт, который существенно отличается от возможных аналогов:


        -
          const advantages = [
            {title:'Без операций и медикаментов', className:'advantages-no-pills', ban:true},
            {title:'Не заметно вблизи или на ощупь', className:'advantages-unnoticed'},
            {title:'Сильная фиксация', className:'advantages-strength'},
            {title:'Персонально заказывается размер, густота, длина и оттенок волос', className:'advantages-individual'},
            {title:'Можно носить систему круглосуточно', className:'advantages-everyday'},
            {title:'Используемые материалы абсолютно безопасны', className:'advantages-safety'},
            {title:'Нет противопоказаний', className:'advantages-contradictions'},
            {title:'Можно выполнять любую прическу и стрижку', className:'advantages-hairstyle'},
          ]
        +listAdvantages(advantages)
  +pageSection
    .container
      .content
        +homeSubtitle Стоимость системы на&nbsp;заказ
        -
          const priceForMen = {
            title: 'для мужчин',
            list: [
              {className:'for-men-top', title:'Верхняя часть головы', price:'39 000 руб.'},
              {className:'for-men-three-fourties', title:'3/4 головы', price:'45 000 руб.'},
              {className:'for-men-full', title:'Вся голова', price:'51 000 руб.'},
            ]
          }
          const priceForWomen = {
            title: 'для женщин*',
            list: [
              {className:'for-women-top', title:'Верхняя часть головы', price:'от 41 000 руб.'},
              {className:'for-women-three-fourties', title:'3/4 головы', price:'от 47 000 руб.'},
              {className:'for-women-full', title:'Вся голова', price:'от 53 000 руб.'},
            ]
          }
        +pageSubection
          +homePrice(priceForMen)
          p(style='font-size: 150%') Системы для мужчин на&nbsp;тонкой силиконовой основе&nbsp;&mdash; 
            strong 25&nbsp;000&nbsp;руб.
            |  (всегда в&nbsp;наличии).
        +pageSubection
          +homePrice(priceForWomen)
          p *Цены варьируются в&nbsp;зависимости от&nbsp;длины волос (от&nbsp;20&nbsp;до&nbsp;60&nbsp;см)
        +pageSubection
          p Установка системы&nbsp;&mdash; 3000&nbsp;руб.
        +pageSubection
          +grid({paddingy:true, parLike:true})
            +grid__item({m:6,xs:12})
              p(style='font-size: 150%') &mdash;&nbsp;Скидки на&nbsp;готовые системы 3000&nbsp;руб.
            +grid__item({m:6,xs:12})
              p(style='font-size: 150%') &mdash;&nbsp;Скидки для детей до&nbsp;14&nbsp;лет&nbsp;&mdash; 6000&nbsp;руб.
  +pageSection
    .container
      .content
        +homeSubtitle Результат безоперационного восстановления волос
        +pageSubection
          -
            const beforeAfter = {
              items: [
                {
                  images:{
                    before:'images/before-after/before-after-1-1.jpg',
                    after:'images/before-after/before-after-1-2.jpg'
                  },
                },
                {
                  images:{
                    before:'images/before-after/before-after-2-1.jpg',
                    after:'images/before-after/before-after-2-2.jpg'
                  },
                },
                {
                  images:{
                    before:'images/before-after/before-after-3-1.jpg',
                    after:'images/before-after/before-after-3-2.jpg'
                  },
                },
                {
                  images:{
                    before:'images/before-after/before-after-4-1.jpg',
                    after:'images/before-after/before-after-4-2.jpg'
                  },
                },
                {
                  images:{
                    before:'images/before-after/before-after-5-1.jpg',
                    after:'images/before-after/before-after-5-2.jpg'
                  },
                },
              ]
            }
          +beforeAfter(beforeAfter)
        +pageSubection
          -
            const homeFeedback = [
              {
                body: [
                  {tag:'p', content:'Уважаемая Татьяна!'},
                  {tag:'p', content:'Очень Вам благодарна за прекрасное обслуживание. Я больше 5 лет приезжаю к Вам в салон и сейчас уже не представляю,как можно было так долго испытывать неудобства ухода за своими тонкими и редкими волосами. Системы волос, которые Вы ставите очень качественные и я их воспринимаю, как свои волосы. Системы износостойкие и свой срок выдерживают с лихвой. Я очень этим довольна.'},
                  {tag:'p', content:'Кроме постановки системы волос здесь объясняют,как за ней ухаживать для увеличения срока службы.'},
                  {tag:'p', content:'Огромное спасибо Вам и всем кто Вам помогает делать нас довольными и счастливыми, уверенными в себе.'}
                ],
                author: 'Светлана / 08.02.2017',
                photo: {src:'images/feedback/feedback-1.jpg', thumb:'images/feedback/feedback-1_thumb.jpg'}
              },
              {
                body: {tag:'p', content:'Несколько лет я смотрела информацию о системе замещения волос в интернете и никак не могла решиться на консультацию.Записала меня подруга, нервничала я ужасно, вплоть до тошноты! А сейчас у меня уже вторая система волос и я жалею только об одном, что не сделала это раньше! Жизнь изменилась,появилась уверенность в себе. Спасибо огромное Татьяне! Она профессионал в своем деле. И я очень рада , что попала именно к ней!'},
                author: 'Зайнаб / 26.12.2016',
                photo: {src:'images/feedback/feedback-2.jpg', thumb:'images/feedback/feedback-2_thumb.jpg'}
              },
              {
                body: {tag:'p', content:'Долгое время искал решение своей проблемы. Жутко комплексовал , потом в интернете наткнулся на этих прекрасных людей. После некоторых раздумий написал, после первого же осмотра понял, насколько чутко и с пониманием они отнеслись к моей проблеме, именно с желанием помочь, пытались подобрать самый оптимальный для меня вариант, учитывая тот факт, что я ещё и из другого города...'},
                author: 'Алексей / 17.02.2011',
                photo: {src:'images/feedback/feedback-3.jpg', thumb:'images/feedback/feedback-3_thumb.jpg'}
              },
            ]
          +feedbackList(homeFeedback)
  +pageSection
    .container
      .content
        +homeSubtitle Центр замещения волос в Москве
        +blockMarked({marginTop:true})
          +grid({paddingy: true})
            +grid__item({m:6, xs:12})
              h4 Более 10 лет работы
              p За это время мы помогли 
                strong сотням клиентов
                |  обрести красоту.
              h4 100% гарантия результата
              p Мы гарантируем, что вы получите новую шевелюру, которая будет незаметна для окружающих
              h4 Полная конфиденциальность
              p Мы сделаем все, чтобы сохранить конфиденциальность визита в наш центр
              h4 Обслуживание
              p Мы предоставляем гарантированное сервисное обслуживание (перефиксация, стрижку, прическа, окраска) для клиентов
            +grid__item({m:6, xs:12})
              +blockMarkedContent({lifted:true})
                -
                  let fotorama = {
                    list: [
                      'images/office-1.jpg',
                      'images/office-2.jpg',
                      'images/office-3.jpg',
                    ]
                  }
                +fotorama(fotorama)
