include before-after-item/before-after-item

mixin beforeAfter(list)
  -
    list.settings = list.settings ? list.settings : {}
    const itemWidth = list.settings.cols == 2 || list.settings.cols == 1 ? {m:12/list.settings.cols, s:6,xs:12} : {m:4,s:6,xs:12}
    let i = 0
  +grid({paddingy:true, justify:'center'}).before-after
    each item in list.items
      - i ++
      +grid__item(itemWidth).before-after__item
        +beforeAfterItem(item, i)
