mixin listAdvantages(list)
  +grid({tag:'ul', paddingy: true}).list-advantages
    each item in list
      - item.sizes = item.sizes ? item.sizes : {m:3,s:4,xs:6}
      - 
        let className = [
          item.className ? 'list-advantages__item--' + item.className : '',
          item.ban ? 'list-advantages__item--ban' : '',
        ]
      +grid__item(item.sizes).list-advantages__item(class != className)
        .list-advantages__image
        .list-advantages__title !{item.title}
