.block-marked-result
  @media screen and (max-width point-xl)
    &__shifted
      // min-height 455px
      .image-shifted
        &__img
          position static
          max-width 100%
  @media screen and (min-width point-xl + 1)
    &__shifted
      min-height 455px
      .image-shifted
        position relative
        width 100%
        height 100%
        &__img
          position absolute
          max-width 550px
          bottom 0
          left 0
