.list-price-levels
  @extends p
  &__item
    padding-top 5rem
    background-size 4.5rem 4.5rem
    background-position 0 top, 4.5rem top
    background-repeat no-repeat 
    & + &
      margin-top 1rem
    &--top
      background-image var(--price-for-men-top), var(--price-for-women-top)
    &--three-fourties
      background-image var(--price-for-men-three-fourties), var(--price-for-women-three-fourties)
    &--full
      background-image var(--price-for-men-full), var(--price-for-women-full)
