.table-price
  .table__header&__header
    &:first-child:empty
      max-width 10rem
    &--top
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-top), var(--price-for-women-top)
      min-width 10rem
    &--three-fourties
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-three-fourties), var(--price-for-women-three-fourties)
      min-width 10rem
    &--full
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-full), var(--price-for-women-full)
      min-width 10rem
    
  &__cell
    &:nth-child(2):last-child
      min-width 12rem
  &--individual-system
    .table__col-group
      col
        width 28%
        min-width 10rem
        &:nth-of-type(1)
          width 16%
  &--top-system
    .table__col-group
      col
        width calc(100% / 3)
  &--full-system
    .table__col-group
      col
        width 42%
        min-width 10rem
        &:nth-of-type(1)
          width 16%
          white-space nowrap
  &--services
    .table__col-group
      col
        &:first-of-type
          width calc(100% / 3 * 2)
        &:last-of-type
          width calc(100% / 3)
