.header
  &__navigation
    background-color #3d3d3d
    & > .content
      display flex
      position relative
  &__navigation-phone
    align-self center
    color #ffffff
    margin-left auto
