header.header
  .container
    .content
      include header-top/header-top
  .container.header__navigation
    .content
      include header-mobile-switcher/header-mobile-switcher
      include header-navigation/header-navigation
      +headerNavigation(mainMenu).top-menu
