.form
  position relative
  padding 3rem 1rem
  display -ms-flexbox
  display flex
  flex-direction column
  align-self flex-start
  background-color #f3e0db
  margin-top 1rem
  &__header
    position absolute
    top -1rem
    left 0
    padding 0.75rem 0.875rem
    color #fff
    background-color #c94aa5
    line-height line-m
  &__input
    margin-bottom (basePadding*2)
  &__submit
    .btn
      width 100%
      padding-y (basePadding/3*4)
      font-size font-xl
