mixin form(form)
  form.form(id != attributes.id class != attributes.class)
    .form__header !{form.header}
    each item in form.inputs
      -
        let inputId =  attributes.id+'-'+item.name
        let requiredClass = item.required ? 'form__label--required' : ''
      .form__input
        +formInput({type:item.type,name:item.name,required:item.required,placeholder:item.placeholder,label:item.label, checked:item.checked})(id= inputId)
    .form__submit
      button(type='submit').btn !{form.submit}
