
-
  const mainMenu = [
    {'name':'Система волос','href':'',active:true,
    },
    {'name':'Услуги и цены','href':''},
    {'name':'Фото и Видео','href':''},
    {'name':'Статьи','href':'',
      sublist: [
        {'name':'Система волос','href':''},
        {'name':'Для женщин','href':''},
        {'name':'Для мужчин','href':''},
        {'name':'Полное облысение','href':''},
        {'name':'Частичное облысение','href':''},
        {'name':'Этапы замещения волос','href':''},
        {'name':'Фиксация','href':''},
        {'name':'Инструкции','href':''},
      ]},
    {'name':'Отзывы','href':''},
    {'name':'Контакты','href':''},
    {'name':'OnLine-Магазин','href':''},
  ]
