-
  const pricesIndividualSystem = {
    classModifier: 'individual-system',
    header: [
      '',
      {className: 'header', classModifier:'top', content: 'Верхняя часть головы'},
      {className: 'header', classModifier:'three-fourties', content: '3/4 головы'},
      {className: 'header', classModifier:'full', content: 'Вся голова'}
    ],
    rows: [
      ['20&nbsp;см','47600 руб.','57800 руб.','71400 руб.'],
      ['30&nbsp;см','48960 руб.','59160 руб.','72760 руб.'],
      ['40&nbsp;см','51000 руб.','61200 руб.','74800 руб.'],
      ['50&nbsp;см','54400 руб.','64600 руб.','78200 руб.'],
      ['60&nbsp;см','57800 руб.','6800 руб.','81600 руб.'],
    ]
  }

  const pricesStandardTopSystem = {
    classModifier: 'top-system',
    rows: [
      [
        [
          {tag: 'p', content:{tag:'strong',content:'20&nbsp;000&nbsp;руб.'}},
          {tag: 'p', content:'обычная стоимость'},
        ],
        [
          {tag: 'p', content:{tag:'strong',content:'15&nbsp;000&nbsp;руб.'}},
          {tag: 'p', content:'первая покупка и при заказе ежемесячно'},
        ],
        [
          {tag: 'p', content:{tag:'strong',content:'17&nbsp;500&nbsp;руб.'}},
          {tag: 'p', content:'при заказах раз в два месяца'},
        ],
      ]
    ]
  }

  const pricesStandardFullSystem = {
    classModifier: 'full-system',
    header: [
      '',
      {className: 'header', classModifier:'top', content: 'Верхняя часть головы'},
      {className: 'header', classModifier:'full', content: 'Вся голова'}
    ],
    rows: [
      ['20&nbsp;см','20&nbsp;400&nbsp;-&nbsp;23&nbsp;800&nbsp;руб.',{empty:true}],
      ['30&nbsp;см','27&nbsp;200&nbsp;-&nbsp;30&nbsp;600&nbsp;руб.','40&nbsp;800&nbsp;руб.'],
      ['45&nbsp;см',{empty:true},'47&nbsp;600&nbsp;руб.'],
    ]
  }

  const pricesServicesClients = {
    classModifier: 'services',
    header: [
      {className: 'header', content: 'Услуга'},
      {className: 'header', content: 'Стоимость&nbsp;(в&nbsp;руб.)'}
    ],
    rows: [
      ['Перефиксация системы волос','2000 (короткие)<br>2300 (средние)<br>2600 (длинные)'],
      ['Перефиксация системы волос при наклеивании на&nbsp;волосы','2500 (короткие)<br>2900 (средние)<br>3100 (длинные)'],
      ['Снятие системы волос','1&nbsp;уровень&nbsp;&mdash; 700<br>2&nbsp;уровень&nbsp;&mdash; 900<br>3&nbsp;уровень&nbsp;&mdash; 1200'],
      ['Фиксация системы волос','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1550'],
      ['Укладка','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка (утюгом)','1&nbsp;уровень&nbsp;&mdash; 1300<br>2&nbsp;уровень&nbsp;&mdash; 1500<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка на&nbsp;плойку','1&nbsp;уровень&nbsp;&mdash; 1950<br>2&nbsp;уровень&nbsp;&mdash; 2350'],
      ['Окраска системы волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Окраска своих волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 600<br>2&nbsp;уровень&nbsp;&mdash; 800<br>3&nbsp;уровень&nbsp;&mdash; 1100'],
      ['Коррекция стрижки','1&nbsp;уровень&nbsp;&mdash; 500<br>2&nbsp;уровень&nbsp;&mdash; 600<br>3&nbsp;уровень&nbsp;&mdash; 700'],
      ['Первая стрижка и&nbsp;фиксация индивидуальной системы волос (изготовленная под заказ)','2000'],
      ['Первая стрижка и&nbsp;фиксация готовой системы волос','1&nbsp;уровень&nbsp;&mdash; 1250<br>2&nbsp;уровень&nbsp;&mdash; 1450<br>3&nbsp;уровень&nbsp;&mdash; 1750'],
      ['Повторная стрижка системы волос (без фиксации)','1&nbsp;уровень&nbsp;&mdash; 900<br>2&nbsp;уровень&nbsp;&mdash; 1000<br>3&nbsp;уровень&nbsp;&mdash; 1100'],
      ['Коррекция фиксации','350'],
      ['Пилинг кожи головы','600'],
      ['Ремонт системы волос (за&nbsp;1&nbsp;кв.&nbsp;см)','500'],
      ['Ламинирование «Восстановление цвета»','1&nbsp;уровень&nbsp;&mdash; 1000<br>2&nbsp;уровень&nbsp;&mdash; 1200<br>3&nbsp;уровень&nbsp;&mdash; 1400'],
      ['Обработка системы волос жидким силиконом','1000'],
      ['Тонирование системы волос маской','1&nbsp;уровень&nbsp;&mdash; 600<br>2&nbsp;уровень&nbsp;&mdash; 800<br>3&nbsp;уровень&nbsp;&mdash; 1000'],
      ['Экспресс-тонирование системы волос (Estel Alpha Homme)','1&nbsp;уровень&nbsp;&mdash; 700<br>2&nbsp;уровень&nbsp;&mdash; 750<br>3&nbsp;уровень&nbsp;&mdash; 800'],
    ]
  }

  const pricesServicesNotClients = {
    classModifier: 'services',
    header: [
      {className: 'header', content: 'Услуга'},
      {className: 'header', content: 'Стоимость&nbsp;(в&nbsp;руб.)'}
    ],
    rows: [
      ['Перефиксация системы волос','2500 (короткие)<br>2800 (средние)<br>3100 (длинные)'],
      ['Перефиксация системы волос при наклеивании на&nbsp;волосы','3000 (короткие)<br>3400 (средние)<br>3600 (длинные)'],
      ['Снятие системы волос','1&nbsp;уровень&nbsp;&mdash; 1200<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Фиксация системы волос','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1900<br>3&nbsp;уровень&nbsp;&mdash; 2050'],
      ['Укладка','1&nbsp;уровень&nbsp;&mdash; 1400<br>2&nbsp;уровень&nbsp;&mdash; 1500<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка (утюгом)','1&nbsp;уровень&nbsp;&mdash; 1500<br>2&nbsp;уровень&nbsp;&mdash; 1600<br>3&nbsp;уровень&nbsp;&mdash; 1800'],
      ['Укладка на&nbsp;плойку','1&nbsp;уровень&nbsp;&mdash; 1950<br>2&nbsp;уровень&nbsp;&mdash; 2350'],
      ['Окраска системы волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1900<br>3&nbsp;уровень&nbsp;&mdash; 2500'],
      ['Окраска своих волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Коррекция стрижки','1&nbsp;уровень&nbsp;&mdash; 1000<br>2&nbsp;уровень&nbsp;&mdash; 1100<br>3&nbsp;уровень&nbsp;&mdash; 1200'],
      ['Первая стрижка системы волос','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Повторная стрижка системы волос (без фиксации)','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1800<br>3&nbsp;уровень&nbsp;&mdash; 2100'],
      ['Коррекция фиксации','700'],
      ['Пилинг кожи головы','1100'],
      ['Ремонт системы волос (за&nbsp;1&nbsp;кв.&nbsp;см)','1000'],
      ['Ламинирование &laquo;Восстановление цвета&raquo;','1&nbsp;уровень&nbsp;&mdash; 1200<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Фиксация системы волос &laquo;Интеграция&raquo; + стрижка','3000'],
    ]
  }
